.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.urlList {
  list-style: none;
  padding: 0;
}


.deleteButton {
  padding: 8px 16px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 14px;
}

.deleteButton:hover {
  background-color: #d9363e;
}


.urlItem {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #000000;
}

.link {
  color: #0070f3;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.loading {
  text-align: center;
  color: #666;
}
